<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    
    {% if user.is_authenticated %}
        
    <a href="{% url 'user_logout' %}">LOGOUT ({{ user.username }})</a>
    <hr>
    <a href="{% url 'upload' %}">Upload</a>
    {% endif %}


    <hr>

   

    
 <h3>User's sharings</h3>

 <a href="{% url 'userFiles' %}">Sharings</a>
 
</body>
</html>